body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-position-x: -38vh , 90vh;
    background-position-y: -59vh , 50vh;

    font-family: 'Kumbh Sans', sans-serif;
}

.frame {
    background-color: white;
    min-width: 22rem ;
    border-radius: 1rem;
}
.cover {
    background-image: url("images/bg-pattern-card.svg");
    height: 10rem;
    position: relative;
    margin-bottom: 5rem;
}
img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    border-radius: 4rem;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}
.author-info h1 span ,p{
    color:  hsl(227, 10%, 46%);
    font-weight: 400;
    
}

.quantities {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    margin-top: 2rem ;
    border-top: 1px solid hsla(0, 0%, 59%,0.3);
}
.quantities h1 span{
    font-size: 12px;
    font-weight: 400;
   color: hsl(0, 0%, 59%);
   letter-spacing: 1px;
}

